
<form action="/envio" method="POST"> 
<p>nome:</p>
<input type="text" name="nome">
<p>biografia</p>
<textarea name="biografia"></textarea>
<button type="submit"> cadastrar/enviar </button>
</form>